.sidebar-container > h3{
    padding-left: 2px;
}


.inputs{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* background-color: gray; */
    padding: 5px 0px;
    margin-top: 15px;
    /* height: 100vh; */
}

.input{
    background-color:whitesmoke;
    margin: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}