*{
  font-family: 'poppins';
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.app{
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page{
  width:85%
}
.sidebar{
  width:15%;
  background-color: rgb(80, 80, 80);
  height: 100vh;
  padding: 10px;
}
